runs/
inputs/
outputs/
*.xlsx
*.pth
*.0
.ipynb_checkpoints/
*.ipynb
logs/
*.pyc
*.csv
*.npy
config/evaluation.yaml
config/out_of_project_paths.yaml
config/checkpoints.yaml
.vscode
ae_pcc.egg-info
3rd_party_codecs
config\checkpoints.yaml
*.ps1
config\checkpoints.yaml